*~
*.swp
*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*.a
*/*.a
*/*/*.a
*/*/*/*.a
*/*/*/*/*.a
*.bin
*.iso
*/*.bin
*.img
sysroot/*
root/*
ports/build/*
musl/musl-build
musl/musl-install
tmp/*
usr/build
buildroot/build/
buildroot/build/*
traffic.pcap
.vscode
