*~
*.swp
*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*.bin
*.iso
*/*.bin
hda.img
hdb.img
hdc.img
hdd.img
sysroot/*
root/*
ports/build/*
musl/musl-build
musl/musl-install
libc/libc.a
tmp/*
usr/init
traffic.pcap
.vscode
